.dashboard {
    background-color: rgb(32, 32, 32);
    min-height: 100vh;
}

.topNav {
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

.topNav a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    background-color: orange;
    padding: .5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.userButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.25rem;
}

.bottomNav {
    position: sticky;
    bottom: 0;
    width: inherit;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomNav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
}

.btmButtons {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 1.25rem;
}

.btmButtons:first-child {
    justify-content: flex-start;
}

.btmButtons:last-child {
    justify-content: flex-end;
}