body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page {
  min-height: calc(90vh - 4rem);
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  flex-direction: column;
  align-items: center;
  background-color: rgb(44, 44, 44);
  padding: 0 2rem 2rem 2rem;
  max-width: 80vw;
  margin: 0 auto;
  color: white;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: orange;
}

.section {
  background-color: white;
  color: green;
  padding: 2rem;
  margin: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}